<h1>Seja bem-vindo(a)!</h1>
<p>Lucas Jaeger</p>

<p>A soma é: <%= 1 + 1 %></p>

<p>Seu nome de trás pra frente é: <%= "Lucas".reverse %></p>

<% ax = "minha variavel a" %>
<p>Imprimindo a variavel a: <strong><%= ax %></strong></p>

<p>A data de hoje é: <%= Date.today %></p>
